<template name="proposalMonitoring">
    {{#with jobProposalContext}}
        <div class="row">
            <div class ="col-md-2" id="back-to-proposalDisplay">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </div>
        </div>

        <div class ="row">
            <div class ="col-md-12">
                <h1 class="text-center"><u>Job offer # {{this.[0].ID}}</u></h1>
            </div>
        </div>

        <div class ="row">
            <div class = "col-md-3">
            </div>
            <div class = "col-md-3">
                <h3 class="text-center">Contractor: {{contractor}}</h3>
            </div>
            {{#if allowedToApply}}
                <div class = "col-md-3">
                    <button class="btn btn-default center-block" id="apply-to-proposal">Apply</button>
                </div>
            {{/if}}
        </div>




        <div class = "row">
            <div class ="col-md-12">
                <h3 class="text-center">Contestants</h3>

                <div class="row">


                    <div class ="DAO-ownership-list">
                        <ul class="list-group">
                            {{#each this.[1]}}
                                <li class="list-group-item list-group-item-default">
                                    <p> Contestant Address: {{address}}</p>
                                    <button type="button" class ="btn btn-primary" id ="contestant-go-to-profile">
                                       GO!
                                    </button>
                                    <p>Contestant Username:{{userName}}</p>
                                    <p>Rating: </p>
                                    {{> starsRating rating = rating size='sm'}}
                                    {{#if isSelf}}
                                        <button type="button" class ="btn btn-primary" id ="contestant-remove-application">
                                            Remove my application
                                        </button>
                                    {{/if}}
                                    {{#if isOwnerANDisNotHired}}
                                        <button type="button" class ="btn btn-primary" id ="contestant-hire-application">
                                            Hire!
                                        </button>
                                    {{/if}}

                                </li>
                            {{/each}}

                        </ul>
                    </div>




                </div>
            </div>
        </div>

        <div class ="row">
            <div class ="col-md-12">
                <h2 class="text-center"><u>Contractor Actions:</u></h2>
                <button class="btn btn-warning btn-lg center-block" id="proposal-complete-work">Complete Job</button>
            </div>
        </div>

        <div class ="row">
            <h2 class="text-center"><u>Owner Actions:</u></h2>
            <div class="col-md-4">
                <button class="btn btn-success btn-lg center-block" id="proposal-finalise">Finalise</button>
            </div>

            <div class="col-md-4">
                <button class="btn btn-danger btn-lg center-block" id="proposal-layoff-contractor">Layoff contractor</button>
            </div>

            <div class="col-md-4">
                <button class="btn btn-primary btn-lg center-block">Remove proposal</button>
            </div>
        </div>


    {{/with}}
</template>
