<template name="About">

    <div class="container">
        <div class="row row-margin">
            <div class="col-md-12" style="height:20px;">
            </div>
        </div>


        <div class="row row-margin">
            <div class="col-md-12">
                <div class="box">
                    <div class ="row row-margin">
                        <div class="col-md-10 col-md-offset-1">
                            <h2 class="text-center"><b><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                About Decentralised Startups</b>
                            </h2>
                        </div>
                    </div>
                    <div class ="row row-margin">
                        <div class="col-md-10 col-md-offset-1">
                            <h3 class="text-center">In order to learn everything about the Decentralised Startups system, please Download our Masters Thesis which is also the White Paper for our Dapp.
                            </h3>
                        </div>
                    </div>
                    <div class ="row row-margin">
                        <div class="col-md-10 col-md-offset-1">
                            <button type="button" class="btn btn-info btn-lg center-block"  style="margin-top: 55px; padding-bottom: 18px; padding-top:18px;"  id="downloadPaper">Download the<br>White Paper!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

</template>