<template name="DAONotFound">
    <div class="container-fluid">
        <div class = "col-md-8 col-md-offset-2">

            <div class="row row-vsm-margin">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-red">
                            <div class="row row-down-margin">
                                <div class="col-md-12">
                                    <h1 class="text-center">DAO not found at the given address!</h1>
                                </div>
                            </div>



                            <div class="row row-margin">
                                <div class="col-md-6">
                                    <button class =" btn btn-primary btn-lg center-block to_Connect">Connect to a DAO</button>
                                </div>
                                <div class="col-md-6">
                                    <button class = " btn btn-primary btn-lg center-block to_home">Homepage</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>