<template name="home">
    <div class="container">
        <h1>Decentralised Startups</h1>
        <div class="row">
            <div class="col-xs-4">
                <button type="button" class="btn btn-primary"  id="create_DAO_btn" aria-haspopup="true" aria-expanded="false">
                    Create your DAO
                </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-primary"  id="create_DAO_btn" aria-haspopup="true" aria-expanded="false">
                Browse the DAOs
            </button>
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-primary"  id="connect_DAO_btn" aria-haspopup="true" aria-expanded="false">
                    Connect to a DAO
                </button>
            </div>
        </div>
    </div>


</template>
