<template name="home">
    <div class="container-fluid">

        <div class ="row row-margin">
            <div class="col-md-12">
                <h1 class ="text-center white-font-color">Decentralised Startups</h1>
                <h2 class ="text-center white-font-color">Join The Digital Economy.</h2>
            </div>
        </div>

        <div class="row row-margin">
            <div class="col-md-12" style="height:50px;">
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success btn-lg center-block"   id="Browse_DAO_btn" aria-haspopup="true" aria-expanded="false">
                    Browse the DAOs
                </button>
            </div>

        </div>



    </div>


</template>
