<template name="infoDisplay">

    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <div class ="row">

                    <div class="col-md-6" >
                        <div class="row row-sm-down-margin">
                            <div class="col-md-12">
                                <h3 class="text-center"><b>Financial Information</b></h3>
                            </div>
                        </div>
                        <div class="row row-vsm-margin">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="subox">
                                    <h4 class="text-center"><u>Percent Dividends</u></h4>
                                    <p class="text-center">{{displayPercentDividends}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="row row-vsm-margin">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="subox">
                                    <h4 class="text-center"><u>Total Shares</u></h4>
                                    <p class="text-center">{{displayTotalShares}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-vsm-margin">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="subox">
                                    <h4 class="text-center"><u>Reward per Share per Ether of Revenue</u></h4>
                                    <p class="text-center">{{displayReward}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row row-sm-margin">
                            <div class="col-md-12">
                                <h3 class="text-center"><b>Official Declaration</b></h3>
                            </div>
                        </div>


                        <div class="row row-vsm-margin">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="subox">
                                    <div class ="DAO-ownership-list">
                                        <p>{{description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>






                    </div>


                    <div class="col-md-6">


                        <div class="row row-sm-down-margin">
                            <div class="col-md-12">
                                <h3 class="text-center"><b>Transaction History</b></h3>
                            </div>
                        </div>



                        <div class = "row">
                            <div class="col-md-12">
                                <div class="subox">
                                    <div class ="DAO-info-tx-list">
                                        <ul class="list-group" >
                                            {{#each transactions}}
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p><u>Transaction Hash :</u><br>{{transactionHash}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p><u>Transaction Date :</u><br>{{displayDate}}</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <p><u>EtherScan Link :</u></p>
                                                            <a class="btn btn-info" href="https://etherscan.io/tx/{{transactionHash}}">Here!</a>
                                                        </div>
                                                    </div>

                                                </li>
                                            {{/each}}
                                           <button  class="btn btn-block btn-primary load-more-hashes" >Load more</button>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>







                    </div>
                </div>
            </div>




        </div>
    </div>

</template>