<template name="Monitor">
    <div class="container-fluid">



        <div class ="row">
            <div class = "col-md-12">
                <h1 class="text-center"><u>Control Room:</u> </h1>
                <h2 class="text-center"><u>{{title}}</u> </h2>
            </div>
        </div>



        <div class ="row">
            <div class = "col-md-4">
                <h4 class="text-center"> <u>Owner</u></h4>
                <p class="text-center"> {{owner}}</p>
            </div>
            <div class = "col-md-4">
                <h4 class="text-center"> Address</h4>
                <p class="text-center"> {{address}}</p>
            </div>
            <div class = "col-md-4">
                <h4 class="text-center"> Funds</h4>
                <p class="text-center"> {{displayBalance}} Ether</p>
            </div>
        </div>




        <div class ="row">
            <div class = "col-md-3" >
                {{#if investment}}
                    <div class="bg-success">
                        <h4 class="text-center">Investing</h4>
                        <p class="text-center"> <span class="glyphicon glyphicon-ok"></span></p>
                    </div>
                {{else}}
                    <div class="bg-warning">
                        <h4 class="text-center">Investing</h4>
                        <p class="text-center"><span class="glyphicon glyphicon-remove"></span> </p>
                    </div>
                {{/if}}
            </div>
            <div class = "col-md-3" >
                {{#if recruiting}}
                    <div class="bg-success">
                        <h4 class="text-center">Recruiting</h4>
                        <p class="text-center"> <span class="glyphicon glyphicon-ok"></span></p>
                    </div>
                {{else}}
                    <div class="bg-warning">
                        <h4 class="text-center">Recruiting</h4>
                        <p class="text-center"><span class="glyphicon glyphicon-remove"></span> </p>
                    </div>
                {{/if}}
            </div>
            <div class = "col-md-3" >
                {{#if building}}
                    <div class ="bg-success">
                        <h4 class="text-center">Building</h4>
                        <p class="text-center"> <span class="glyphicon glyphicon-ok"></span></p>
                    </div>
                {{else}}
                    <div class="bg-warning">
                        <h4 class="text-center">Building</h4>
                        <p class="text-center"><span class="glyphicon glyphicon-remove"></span> </p>
                    </div>
                {{/if}}
            </div>
            <div class = "col-md-3" >
                {{#if producing}}
                    <div class="bg-success">
                        <h4 class="text-center">Selling</h4>
                        <p class="text-center"> <span class="glyphicon glyphicon-ok"></span></p>
                    </div>
                {{else}}
                    <div class = "bg-warning">
                        <h4 class="text-center">Selling</h4>
                        <p class="text-center"><span class="glyphicon glyphicon-remove"></span> </p>
                    </div>
                {{/if}}
            </div>
        </div>

        <div class="row">
            <ul class="nav nav-pills nav-justified monitor-template-selector" >
                <li class="bg-info active" data-monitor-template = "infoDisplay">
                    <a href="#">
                        Info
                    </a>
                </li>
                <li class="bg-info " data-monitor-template = "proposalDisplay">
                    <a href="#">Job Offers</a>
                </li>
                <li class="bg-info " data-monitor-template = "productDisplay">
                    <a href="#">Products</a>
                </li>
                <li class="bg-info " data-monitor-template = "ownerControls">
                    <a href="#">Owner Controls</a>
                </li>
                <li class="bg-info " data-monitor-template = "investorControls">
                    <a href="#">Investor Controls</a>
                </li>

            </ul>
        </div>



        <div class="col-md-12">

            {{> Template.dynamic template = monitorTemplate data = monitorData}}

        </div>





    </div>
</template>