<template name="Monitor">
    <div class="container-fluid">



        <div class ="row">
            <div class = "col-md-12">
                <h1 class="text-center"><u>Control Room:</u> </h1>
                <h2 class="text-center"><u>{{title}}</u> </h2>
            </div>
        </div>



        <div class ="row">
            <div class = "col-md-4">
                <h4 class="text-center"> <u>Owner</u></h4>
                <p class="text-center"> {{owner}}</p>
            </div>
            <div class = "col-md-4">
                <h4 class="text-center"> Address</h4>
                <p class="text-center"> {{address}}</p>
            </div>
            <div class = "col-md-4">
                <h4 class="text-center"> Funds</h4>
                <p class="text-center"> {{displayBalance}} Ether</p>
            </div>
        </div>




        <div class ="row">
            <div class = "col-md-3" >
                {{#if investment}}
                    <div style="background-color:#4dff4d">
                        <h4 class="text-center">Investing</h4>
                        <p class="text-center"> <span class="glyphicon glyphicon-ok"></span></p>
                    </div>
                {{else}}
                    <div style="background-color:#ff1a1a">
                        <h4 class="text-center">Investing</h4>
                        <p class="text-center"><span class="glyphicon glyphicon-remove"></span> </p>
                    </div>
                {{/if}}
            </div>
            <div class = "col-md-3" >
                {{#if recruiting}}
                    <div style="background-color:#4dff4d">
                        <h4 class="text-center">Recruiting</h4>
                        <p class="text-center"> <span class="glyphicon glyphicon-ok"></span></p>
                    </div>
                {{else}}
                    <div style="background-color:#ff1a1a">
                        <h4 class="text-center">Recruiting</h4>
                        <p class="text-center"><span class="glyphicon glyphicon-remove"></span> </p>
                    </div>
                {{/if}}
            </div>
            <div class = "col-md-3" >
                {{#if building}}
                    <div style="background-color:#4dff4d">
                        <h4 class="text-center">Building</h4>
                        <p class="text-center"> <span class="glyphicon glyphicon-ok"></span></p>
                    </div>
                {{else}}
                    <div style="background-color:#ff1a1a">
                        <h4 class="text-center">Building</h4>
                        <p class="text-center"><span class="glyphicon glyphicon-remove"></span> </p>
                    </div>
                {{/if}}
            </div>
            <div class = "col-md-3" >
                {{#if producing}}
                    <div style="background-color:#4dff4d">
                        <h4 class="text-center">Selling</h4>
                        <p class="text-center"> <span class="glyphicon glyphicon-ok"></span></p>
                    </div>
                {{else}}
                    <div style="background-color:#ff1a1a">
                        <h4 class="text-center">Selling</h4>
                        <p class="text-center"><span class="glyphicon glyphicon-remove"></span> </p>
                    </div>
                {{/if}}
            </div>
        </div>


        <div class="row">
            <div class="col-md-12" style="background-color:#bfbfbf">
                <div class="col-md-6" >
                    <div class="row">
                        <h4 class="text-center">Financial Information</h4>
                    </div>
                    <div class="row text-center">
                        <h6 >Percent Dividends</h6>
                        <p>{{displayPercentDividends}}</p>
                    </div>
                    <div class="row text-center">
                        <h6>Total Shares</h6>
                        <p>{{displayTotalShares}}</p>
                    </div>
                    <div class="row text-center">
                        <h6>Reward per Share per Ether</h6>
                        <p>{{displayReward}}</p>
                    </div>

                </div>
                <div class="col-md-6">
                    <h4 class="text-center">Transaction Hash table</h4>
                    <p class="text-center"> TODO</p>
                </div>
            </div>
        </div>

        <div class="row">
            {{#if showDescription}}
                <button  class="btn btn-block btn-warning toggle_description" >Hide official Declaration</button>
                <div class="col-md-12 " style="background-color:#ffcc99">
                    <h4   class ="text-center"> Official Declaration</h4>
                    <p>{{description}}</p>
                </div>
            {{else}}
                <button  class="btn btn-block btn-warning toggle_description" >Show official Declaration</button>

            {{/if}}
        </div>


<!--
        <div class="row">
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation "  class="col-md-3">
                    <a class = "btn bnt-primary btn-lg" href="#">Proposals</a>
                </li>
                <li role="presentation" class="col-md-3">
                    <a class = "btn bnt-primary btn-lg" href="#">Products</a>
                </li>
                <li role="presentation" class="col-md-3">
                    <a class = "btn bnt-primary btn-lg" href="#">Owner Controls</a>
                </li>
                <li role="presentation" class="col-md-3">
                    <a class = "btn bnt-warning btn-lg" href="#">Investor Controls</a>
                </li>
            </ul>
        </div>
-->


        <div class="btn-group btn-group-justified" role="group" >
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary template-type-selector" value="proposalDisplay">
                    Job Offers
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary template-type-selector" value="productDisplay">
                    Products
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary template-type-selector"   value="ownerControls">
                    Owner Controls
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary template-type-selector" value="investorControls">
                    Investor Controls
                </button>
            </div>
        </div>


        <div class="col-md-12">

            {{> Template.dynamic template = templateType}}

        </div>





    </div>
</template>