<template name="ownerControls">
    <div class="row">
        <div class="col-md-12">
            <h1 class ="text-center">Owner controls</h1>
        </div>
    </div>

    <div class ="row">
        <div class ="col-md-12 bg-info">
            <div class="row">
                <h2>General Commands</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg center-block">Toggle Investing</button>
                </div>

                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg center-block">Toggle Recruiting</button>
                </div>

                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg center-block">Toggle Building</button>
                </div>

                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg center-block">Toggle Production</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <p>TODO: form for changing dividend value</p>
                </div>
                <div class ="col-md-6">
                    <p>TODO: form for fueling</p>
                </div>
            </div>
        </div>
    </div>

    <div class ="row">
        <div class="col-md-12 bg-success">
            <div class="row">

                    <h2>Proposal Commands</h2>


            </div>
            <div class ="row">
                <div class="col-md-3 ">
                    <p>TODO: form for Hire contractor</p>
                </div>
                <div class ="col-md-3 ">
                    <p>TODO: form for layoff contractor</p>
                </div>
                <div class ="col-md-3">
                    <p> TODO: form for finalising proposal</p>
                </div>
                <div class ="col-md-3">
                    <p>TODO: form for Removing proposal</p>
                </div>
            </div>
        </div>
    </div>




</template>