<template name="ownerControls">

    <div class="row">
        <div class ="col-md-12">
            <div class="box">

                <div class="row">
                    <div class="col-md-12">
                        <h2 class ="text-center"><b>Owner controls</b></h2>
                    </div>
                </div>


                <div class="row row-margin">
                    <div class="col-md-3">
                        {{#if this.investment}}
                            <button class="btn btn-primary btn-lg center-block" id="toggleInvesting">Stop looking for Investments</button>
                        {{else}}
                            <button class="btn btn-primary btn-lg center-block" id="toggleInvesting">Look for Investments</button>
                        {{/if}}
                    </div>

                    <div class="col-md-3">
                        {{#if this.recruiting}}
                            <button class="btn btn-primary btn-lg center-block" id="toggleRecruiting">Stop Recruiting </button>
                        {{else}}
                            <button class="btn btn-primary btn-lg center-block" id="toggleRecruiting">Start Recruiting</button>
                        {{/if}}
                    </div>



                    <div class="col-md-3">
                        {{#if this.producing}}
                            <button class="btn btn-primary btn-lg center-block" id="toggleProduction">Disable Selling</button>
                        {{else}}
                            <button class="btn btn-primary btn-lg center-block" id="toggleProduction">Enable Selling</button>
                        {{/if}}
                    </div>
                    <div class="col-md-3">
                        {{#if this.building}}
                            <button class="btn btn-primary btn-lg center-block" id="toggleBuilding">Stop announcing new <br> products are being built</button>
                        {{else}}
                            <button class="btn btn-primary btn-lg center-block" id="toggleBuilding"> Announce new product building</button>
                        {{/if}}

                    </div>
                </div>




                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="subox">
                                    {{#autoForm collection="DAOs" id="changeDividendsForm" type="normal" doc=this schema=changeDivSchema }}
                                        <fieldset>
                                            {{> afQuickField name='percentDividends' label='Percent of Revenue entitled to Shareholders'}}
                                        </fieldset>
                                        <button type="submit" class="btn btn-primary center-block" id="submitChangeDividendsButton">
                                            Modify
                                        </button>
                                    {{/autoForm}}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class ="col-md-6">
                        <div class="row ">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="subox">
                                    {{#autoForm collection="DAOs" id="fuelForm" type="normal" doc=this schema=fuelSchema }}
                                        <fieldset>
                                            {{> afQuickField name='balance' type='number' label='Supply Ether to your DAO' placeholder="Amount in Ether" value=0}}
                                        </fieldset>
                                        <button type="submit" class="btn btn-primary center-block" id="submitFuelButton">
                                            Supply
                                        </button>
                                    {{/autoForm}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>






                <div class="row row-margin">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#proposalCreationModal" >
                            Add An Employment Offer
                        </button>
                    </div>
                </div>

            </div>


        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="proposalCreationModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a job offering to your DAO</h4>
                </div>
                <div class="modal-body">

                    {{#autoForm collection="Proposals" id="ProposalForm" type="insert" }}
                        <fieldset>
                            <div class ="col-md-8 col-md-offset-2">
                                {{> afQuickField name='title'}}
                            </div>

                            <div class ="col-md-4 col-md-offset-2">
                                {{> afQuickField name='deposit'}}
                            </div>
                            <div class ="col-md-4 ">
                                {{> afQuickField name='reward'}}
                            </div>

                            <div class ="col-md-10 col-md-offset-1">
                                {{> afQuickField name='description' label = "Job Description" rows=6}}
                            </div>


                        </fieldset>
                        <button type="submit" class="btn btn-primary center-block" id="submitProposalButton">
                            Add Proposal
                        </button>
                    {{/autoForm}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</template>















<!--
    <div class ="row">
        <div class ="col-md-12 ">

            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg center-block" id="toggleInvesting">Toggle Investing</button>
                </div>

                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg center-block" id="toggleRecruiting">Toggle Recruiting</button>
                </div>

                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg center-block" id="toggleBuilding">Toggle Building</button>
                </div>

                <div class="col-md-3">
                    <button class="btn btn-primary btn-lg center-block" id="toggleProduction">Toggle Production</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    {{#autoForm collection="DAOs" id="changeDividendsForm" type="normal" doc=this schema=changeDivSchema }}
                        <fieldset>
                            {{> afQuickField name='percentDividends'}}
                        </fieldset>
                        <button type="submit" class="btn btn-primary center-block" id="submitChangeDividendsButton">
                            Submit
                        </button>
                    {{/autoForm}}
                </div>

                <div class ="col-md-4 col-md-offset-1">
                    {{#autoForm collection="DAOs" id="fuelForm" type="normal" doc=this schema=fuelSchema }}
                        <fieldset>
                            {{> afQuickField name='balance' placeholder="Amount in Ether"}}
                        </fieldset>
                        <button type="submit" class="btn btn-primary center-block" id="submitFuelButton">
                            Submit
                        </button>
                    {{/autoForm}}
                </div>
            </div>
        </div>

        <div class ="row bg-info">
            <div class ="col-md-12">
                <button type="button" class="btn btn-info btn-lg center-block" data-toggle="modal" data-target="#proposalCreationModal" >
                    Add Proposal
                </button>
            </div>

        </div>
    </div>


-->

























<!--
    <div class ="row">
        <div class="col-md-12 bg-success">
            <div class="row">
                <h2>Proposal Commands</h2>
            </div>

            <div class ="row">
                <div class="col-md-3 ">
                    {{#autoForm collection="Proposals" id="hireContractorForm" type="normal"  schema=hireContractorSchema }}
                        <legend>Hire Contractor</legend>
                        <fieldset>
                            {{> afQuickField name='ID' placeholder='Proposal ID' }}
    {{> afQuickField name='contractor' placeholder='Contestant Address' defaultValue=false}}
                        </fieldset>
                        <button type="submit" class="btn btn-primary center-block" id="submitHireContractorButton">
                            Submit
                        </button>
                    {{/autoForm}}

                </div>
                <div class ="col-md-3 ">
                    <p>TODO: form for layoff contractor</p>
                </div>
                <div class ="col-md-3">
                    <p> TODO: form for finalising proposal</p>
                </div>
                <div class ="col-md-3">
                    <p>TODO: form for Removing proposal</p>
                </div>
            </div>

            <div class ="row">
                <div class ="col-md-12">
                    <button type="button" class="btn btn-info btn-lg center-block" data-toggle="modal" data-target="#proposalCreationModal" >
                        Add Proposal
                    </button>
                </div>

            </div>
        </div>
    </div>



-->

















<!--
                 <div class="row">
                     <div class="col-md-4 col-md-offset-1">
                         <form id="changeDividendsForm">
                             <div class="form-group">
                                 <label for="dividendsPercentInput">New Dividends Percentage</label>
                                 <input type="number" class="form-control" id="dividendsPercentInput" placeholder="Percent of dividends (eg.66)">
                             </div>
                             <button type="submit" class="btn btn-default">Submit</button>
                         </form>

                     </div>
                     <div class ="col-md-4 col-md-offset-1">
                         <form id="fuelForm">
                             <div class="form-group">
                                 <label for="fuelAmountInput">Fuel your DAO</label>
                                 <input type="number" class="form-control" id="fuelAmountInput" placeholder="Amount in Ether">
                             </div>
                             <button type="submit" class="btn btn-default">Submit</button>
                         </form>
                     </div>



                 </div>

     -->