<template name ="AddProposal">

    {{#autoForm collection="Proposals" id="PropFrom" type="insert" }}
        <fieldset>
            <legend> Proposal #{{propNumber}} </legend>
            {{> afQuickField name='title' id ="propFormTitle"  }}
            {{> afQuickField name='reward'}}
            {{> afQuickField name='deposit'}}
            {{> afQuickField name='description' rows=3}}
        </fieldset>
        <button class='remove-props' uniqid="{{uniqid}}" type="button">Remove</button>
    {{/autoForm}}

</template>