<template name="Create">
    <div class="container-fluid">
        <div class="row row-margin">
            <div class="col-md-12" style="height:20px;">
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="box">

                            {{#autoForm collection="DAOs" id="DAOform" type="insert" }}
                                <fieldset>
                                    <legend class="text-center"><h3>Create your own DAO</h3></legend>
                                    <div class ="col-md-6 col-md-offset-3">
                                        {{> afQuickField name='owner' id='owner-text-field-create'}}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="set-owner-checkbox-for-create"> Set myself as the Onwer
                                            </label>
                                        </div>
                                    </div>



                                    <div class ="col-md-6 col-md-offset-3">
                                        {{> afQuickField name='title'}}
                                    </div>

                                    <div class ="col-md-8 col-md-offset-2">
                                        {{> afQuickField name='description' label = "Project Description" rows=6}}
                                    </div>

                                </fieldset>

                                <div class="row row-sm-margin">
                                    <div class="col-md-12">
                                     <button type="submit" class="btn btn-primary btn-lg center-block">Create!</button>
                                    </div>
                                </div>

                            {{/autoForm}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--    <div class="col-md-12">
                <div class="col-md-8 col-md-offset-2">

                    {{#autoForm collection="DAOs" id="DAOform" type="insert" }}
                        <fieldset>
                            <legend>Create your own DAO</legend>
                            <div class ="col-md-6 col-md-offset-3">
                                {{> afQuickField name='owner' id='owner-text-field-create'}}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="set-owner-checkbox-for-create"> Set myself as the Onwer
                                    </label>
                                </div>
                            </div>



                            <div class ="col-md-6 col-md-offset-3">
                                {{> afQuickField name='title'}}
                            </div>

                            <div class ="col-md-8 col-md-offset-2">
                                {{> afQuickField name='description' label = "Project Description" rows=6}}
                            </div>

                        </fieldset>
                        <button type="submit" class="btn btn-primary center-block">Insert</button>
                    {{/autoForm}}


                </div>


            </div>



        </div>-->
        <div class="row row-margin">
            <div class="col-md-12" style="height:20px;">
            </div>
        </div>
    </div>






























    <!--
    <div class ="col-md-3 col-md-offset-3">
                    {{> afQuickField name='recruiting'}}
                    </div>
                    <div class ="col-md-3 col-md-offset-1">
                    {{> afQuickField name='investment'}}
                    </div>

                    {{#if afFieldValueIs name = "recruiting" value=true}}
                    <div class ="col-md-8 col-md-offset-2">
                        {{> afArrayField name = 'proposals'}}
                    </div>
                    {{/if}}


-->














    <!--
    <div class="container">
        <h2>Create your DAO</h2>
        <form role="form">
            <div class="form-group">
                <label for="owner">Owner</label>
                <input type="text" class="form-control" id="owner" placeholder="0x0000000000">
            </div>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" placeholder="Enter Title">
            </div>



            <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" id="recruiting"> Recruiting </label>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" id ="investment"> Looking for Investment</label>
                </div>

            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>


    <from>
         <select name ="DAO Type" id = "DAO_type_choice">
             <option selected disabled>Choose a DAO type</option>
             <option value = "Congress">Congress</option>
             <option value = "Ltd">Limited Company, Unimplemented </option>
             <option value = "Inc">Public Company, Unimplemented </option>
             <option value = "NGO">NGO, Unimplemented </option>
         </select>
         {{#if type }}
        {{> Template.dynamic template =type}}
    {{/if}}
     </from>
-->
</template>