body { padding-top: 70px; }


tr.thash-table-row {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

table.thash-table{
    height:290px;
    display: -moz-groupbox;
    width:100%;
}
tbody.thash-body{
    overflow-y: scroll;
    overflow-x:hidden;
        height: 258px;
    position: absolute;

}

.DAO-ownership-list{
    overflow-y: scroll;
    height: 280px;

}

/*this is to take away the arrows from the inputs*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/*
body {
    background: ##5f7cb5;
    background-image: url("/bg/zenbg-1.png"), url("/bg/zenbg-2.png");
    background-repeat: repeat-x, repeat;
}*/