body { padding-top: 70px; }


tr.thash-table-row {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

table.thash-table{
    height:290px;
    display: -moz-groupbox;
    width:100%;
}
tbody.thash-body{
    overflow-y: scroll;
    overflow-x:hidden;
        height: 258px;
    position: absolute;

}

.table-div{
    overflow:auto;
    height:258px;
}

.DAO-ownership-list{
    overflow: auto;
    height: 290px;

}

.DAO-info-tx-list{
    overflow: auto;
    height: 630px;

}

/*this is to take away the arrows from the inputs*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.row-margin{
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-vsm-margin{
    margin-top: 5px;
    margin-bottom: 5px;
}

.row-sm-margin{
    margin-top: 10px;
    margin-bottom: 10px;
}



.row-up-margin{
    margin-top: 30px;
}

.row-skewed-margin{
    margin-top: 30px;
    margin-bottom: 3px;
}
.row-down-margin{
    margin-bottom: 30px;
}
.row-down-lg-margin{
    margin-bottom: 50px;
}
.row-sm-down-margin{
    margin-bottom: 10px;
}
.row-vsm-down-margin{
    margin-bottom: 5px;
}

.row-up-sm-margin{
    margin-top: 10px;
}

.comment-case{
    border: rgba(88, 88, 88, 0.73);
    border-radius: 0.3em;
    padding: 0.2em;
    width: auto;
    border-width: 1px;
    border-style: solid;
    overflow: auto;
    height: auto;
    max-height: 100px;
}

.box {
    padding: 0.5em;
    background-color: rgba(200, 198, 211, 0.60);
    width: auto;
    height: auto;
    border-radius: 0.3em;
}
/*
.box {
    padding: 0.5em;
    background-color: rgba(227, 210, 210, 0.51);
    width: auto;
    height: auto;
    border-radius: 0.3em;
}
*/
.subox {
    padding: 0.5em;
    background-color: rgba(194, 202, 212, 0.51);
    width: auto;
    height: auto;
    border-radius: 0.3em;
}

.box-red {
    padding: 0.5em;
    background-color: rgba(227, 210, 210, 0.51);
    width: auto;
    height: auto;
    border-radius: 0.3em;
}


.bnt-box-job-phase {
    padding: 0.5em;
    background-color:  rgba(227, 210, 210, 0.51);
    width: auto;
    height: auto;
    border-radius: 0.3em;
}

.bnt-box-success {
    padding: 0.5em;
    background-color: rgba(92, 184, 92, 0.65);
    width: auto;
    height: auto;
    border-radius: 0.3em;
}

.bnt-box-info {
    padding: 0.5em;
    background-color: rgba(6, 141, 204, 0.65);
    width: auto;
    height: auto;
    border-radius: 0.3em;
}

.bnt-box-warning {
    padding: 0.5em;
    background-color:  	rgba(248,148,6,0.65);
    width: auto;
    height: auto;
    border-radius: 0.3em;
}
.bnt-box-dis {
    padding: 0.5em;
    background-color:  	rgb(235, 235, 228);
    width: auto;
    height: auto;
    border-radius: 0.3em;
}

.white-font-color{
    color:white;
}

.alternative-to-white-bg{
    ackground-color: rgba(213, 221, 231, 0.90);
}

.alternative-to-white-bg2{
    background-color: rgba(134, 135, 168, 0.91);
}


.vertical-center{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.gobacktranslation:hover{
    transform: translate(-1.5em,0em);
    cursor: hand;
}
.gobackcolorchange:hover{
 color: rgb(255, 162, 138);
}
.gobackcolorchange{
    color: rgb(151, 151, 144);
}


body {
    background:rgb(235, 235, 228);
    background-image: url("/bg/pattern5.png");
    background-repeat: repeat-y;
}
