<template name ="loginNeededForCreate">

    <div class="container-fluid">
        <div class = "col-md-8 col-md-offset-2">
            <div class="box-red">
                <div class="row row-vsm-margin">
                    <div class="col-md-12">
                        <div class="box-red">
                            <h1>You need to be logged-in in order to Create a DAO fully benefiting from our interactive environment</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</template>