<template name="userNotFound">
    <div class="container-fluid">
        <div class = "col-md-8 col-md-offset-2">
            <div class="box-red">
                <div class="row row-vsm-margin">
                    <div class="col-md-12">
                        <div class="box-red">
                            <h1 class="text-center">404<br>
                            User Not Found !</h1>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>