<template name="userProfile">
    <div class="container-fluid">

        <div class="row row-sm-margin">
            <div class="col-md-12" style="height:2px;">
            </div>
        </div>

        <div class="row row-sm-down-margin">
            <div class="col-md-12">
                <div class ="box">


                    <div class ="row ">
                        <div class="col-md-12">
                            <h1 class="text-center"><u>User Profile: {{username}}</u> </h1>
                        </div>
                    </div>

                    <div class ="row row-sm-down-margin">
                        <div class="col-md-12">
                            <h2 class="text-center"><u>Address: {{address}}</u> </h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class ="box">




                    <div class="row row-skewed-margin">
                        <div class="col-md-6">
                            <div class="subox">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h2 class="text-center">Contracted Jobs</h2>
                                    </div>
                                    <div class="col-md-4 ">
                                        {{#if onlyCurrentJobs}}
                                            <button class="btn btn-primary profile-toggle-only-current-jobs" style="margin-top:20px;">Revert</button>
                                        {{else}}
                                            <button class="btn btn-primary profile-toggle-only-current-jobs"  style="margin-top:20px;">Only current</button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class = "col-md-6">
                            <div class="subox">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h2 class="text-center">DAO Ownership</h2>
                                    </div>
                                    <div class="col-md-4 ">
                                        <button type="button" class="btn btn-primary"  id="create_DAO_btn"   style="margin-top:20px;">
                                            Create DAO
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>









                    <div class="row">
                        <div class="col-md-6">
                            <div class="subox">

                                <div class = "row">
                                    <div class="col-md-12">
                                        <table class="table  table-hover table-condensed table-bordered" style="margin-bottom: 0px;">
                                            <thead>
                                            <tr>
                                                <th>Job Id</th>
                                                <th>Title</th>
                                                <th>Stage</th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-div">
                                            <table class="table  table-hover table-condensed table-bordered "  style="margin-bottom: 0px;">
                                                <tbody>
                                                {{#each jobs}}
                                                    <tr class="table-jobs-for-profile" data-proposalID="{{this._id}}" >
                                                        <td>{{ID}}</td>
                                                        <td>{{title}}</td>
                                                        <td>{{stage}}</td>

                                                    </tr>
                                                {{/each}}
                                                <td></td><button  class="btn btn-block center-block btn-primary load-more-hashes">Load more</button><td></td>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>



                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="subox">
                                <div class="row">
                                    <div class="col-md-12">
                                        {{#with ownedDaos}}
                                            {{#if this.count}}
                                                <div class ="DAO-ownership-list">
                                                    <ul class="list-group">
                                                        {{#each this}}
                                                            <li class="list-group-item list-group-item-success row-vsm-margin">
                                                                <p><u> Title: </u> <br>
                                                                    {{title}}
                                                                </p>
                                                                <p><u> Address: </u> <br>
                                                                    {{address}}
                                                                </p>
                                                                <button type="button" class ="btn btn-primary center-block" id ="profile-go-button">GO!</button>
                                                            </li>
                                                        {{/each}}

                                                        <button  class="btn btn-block btn-primary" id ="profile_add_more_DAO">Load more</button>

                                                    </ul>
                                                </div>

                                            {{else}}
                                                <p>Does not Own any DAOs</p>
                                            {{/if}}
                                        {{/with}}





                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>





                    <div class="row row-skewed-margin">
                        <div class="col-md-6">
                            <div class="subox">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>Overall Rating:</h2>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div style=" margin-top: 5px;">
                                            {{> starsRating rating = rating size=40}}
                                        </div>
                                        <p>{{rating}} ({{reviews}} votes)</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class = "col-md-6">
                            <div class="subox">
                                <div class="row" style="margin-bottom: 11px;">
                                    <div class="col-md-8">
                                        <h2 class="text-center">Description:</h2>
                                    </div>
                                    <div class="col-md-4 ">

                                        {{#if isSelf}}
                                            <button class = "btn  btn-success" data-toggle="modal" data-target="#EditDesc"   style="margin-top:20px; padding-left: 25px; padding-right: 25px;"> Edit </button>
                                        {{/if}}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>









                    <div class="row">
                        <div class="col-md-6">
                            <div class="subox">
                                <div class = "row">
                                    <div class="col-md-12">

                                        <div class ="DAO-ownership-list">
                                            <ul class="list-group">
                                                {{#each this.feedback}}
                                                    <li class="list-group-item list-group-item-default  row-vsm-margin">

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <p class="text-center"><b>Job ID:</b>
                                                                    {{proposalID}}
                                                                </p>
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="row">
                                                                    <div class="col-md-2 col-md-offset-2">
                                                                        <p class="text-center"><u>Rating: </u></p>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div style=" margin-top: 1px;">
                                                                            {{> starsRating rating = rating size=sm}}
                                                                        </div>
                                                                        <p>(Score: {{rating}})</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-10 col-md-offset-1">
                                                                <p><u>Comment: </u></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-10 col-md-offset-1">
                                                                <div class="comment-case">
                                                                    <p style=" margin-bottom: 1px;">{{comment}}</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </li>
                                                {{/each}}

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="subox">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class ="DAO-ownership-list">
                                            {{#if this.description}}
                                                <p>{{this.description}}</p>
                                            {{else}}
                                                {{#if isSelf}}
                                                    <button class = "btn btn-lg btn-success center-block" data-toggle="modal" data-target="#EditDesc">Put a Description of yourself!</button>
                                                {{/if}}
                                            {{/if}}



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>






        <div class="row row-sm-margin">
            <div class="col-md-12" style="height:25px;">
            </div>
        </div>


    </div>


    <div class="modal fade" id="EditDesc" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit your Description</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Desc">Enter Your Public Description below:</label>
                        <textarea class="form-control" rows="5" id="DescInputText">{{this.description}}</textarea>
                    </div>
                    <button type="button" class="btn btn-primary center-block" id="submitDesc">
                        Save Changes
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</template>































<!--
                    <div class="col-md-6">

                        <div class="row">

                            <div class = "col-md-8">
                                <h2>Contracted Jobs</h2>
                            </div>
                            {{#if onlyCurrentJobs}}
                                <div class="col-md-2">
                                    <button class="btn btn-primary profile-toggle-only-current-jobs">Revert</button>
                                </div>
                            {{else}}
                                <div class="col-md-2">
                                    <button class="btn btn-primary profile-toggle-only-current-jobs">Only current</button>
                                </div>
                            {{/if}}

                        </div>



                        <div class="row">

                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-condensed table-bordered thash-table">

                                    <thead>
                                    <tr class="thash-table-row">

                                        <th>Job Id</th>
                                        <th>Title</th>
                                        <th>Stage</th>
                                    </tr>
                                    </thead>

                                    <tbody class="thash-body">
                                    {{#each jobs}}
                                        <tr  data-proposalID="{{this._id}}" class="thash-table-row">

                                            <td>{{ID}}</td>
                                            <td>{{title}}</td>
                                            <td>{{stage}}</td>

                                        </tr>


                                    {{/each}}
                                    <tr class="thash-table-row"><button  class="btn btn-block btn-primary load-more-hashes" >Load more</button></tr>
                                    </tbody>


                                </table>
                            </div>

                        </div>




                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-8">
                                <h1>DAO Ownership</h1>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary"  id="create_DAO_btn" >
                                    Create DAO
                                </button>
                            </div>
                        </div>



                        <div class="row">

                            {{#with ownedDaos}}
    {{#if this.count}}
                                    <div class ="DAO-ownership-list">
                                        <ul class="list-group">
                                            {{#each this}}
                                                <li class="list-group-item list-group-item-success">
                                                    <p>{{title}}</p>
                                                    <p>{{address}}</p>
                                                    <button type="button" class ="btn btn-primary" id ="profile-go-button">GO!</button>
                                                </li>
                                            {{/each}}

                                            <button  class="btn btn-block btn-primary" id ="profile_add_more_DAO">Load more</button>

                                        </ul>
                                    </div>

                                {{else}}
                                    <p>Does not Own any DAOs</p>
                                {{/if}}
{{/with}}


                        </div>


                    </div>
                </div>




                <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                        <div class="row">
                            <div class="col-md-3">
                                <h3>Overall Rating:</h3>
                            </div>
                            <div class="col-md-5">
                                {{> starsRating rating = rating size=50}}
                            </div>
                            <div class="col-md-3">
                                <p>{{rating}} ({{reviews}} votes)</p>
                            </div>
                        </div>


                        <div class="row">


                            <div class ="DAO-ownership-list">
                                <ul class="list-group">
                                    {{#each this.feedback}}
                                        <li class="list-group-item list-group-item-default">
                                            <p>Rating : {{rating}}</p>
                                            {{> starsRating rating = rating size='sm'}}
                                            <p>{{comment}}</p>
                                            <p>{{proposalID}}</p>

                                        </li>
                                    {{/each}}

                                </ul>
                            </div>



                        </div>



                <div class="row">

                    {{#if this.description}}
                        <h1>Description:</h1>

                        {{#if isSelf}}
                            <button class = "btn btn-sm btn-success" data-toggle="modal" data-target="#EditDesc">Edit</button>
                        {{/if}}


                        <p>{{this.description}}</p>

                    {{else}}

    {{#if isSelf}}
                            <button class = "btn btn-lg btn-success" data-toggle="modal" data-target="#EditDesc">Put a Description of yourself!</button>
                        {{/if}}
{{/if}}

                </div>

-->


